/* google Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* colors variables */
:root{
    --primaryColor: #0067c0;
    --primaryHoverColor: #0066c0da;

    --backgroundColor: #f3f3f3;

    --cardBackgroundColor: #f9f9f9;
    --cardSecondaryBackgroundColor: #f3f9fbb0;
    --cardHoverBackgroundColor: #f9f9f99c;
    --shadowColor: #c3c4c7;
    --textColor: #000000;
    --secondaryTextColor: #aaaaaa;
}

/* all elements */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body style */
body{
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: var(--backgroundColor);
}
.container-fluid{
    padding-bottom: 5rem;
}
.add-new-product-btn{
    margin-top: 0.2rem;
}
.products-header{
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 0.2rem;
    font-size: 2rem;
}
.card{
    width: 100%;
    padding: 0.5rem;
    display: flex;
}
.card-image{
    max-width: fit-content;
    height: 15rem;
    align-self: center;
}
.card-subtitle{
    padding-top: 1rem;
    font-size: 0.9rem;
    font-weight: lighter;
    color: var(--secondaryTextColor);
}
.card-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.card-price{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primaryColor);
}
.card-description{
    font-size: 0.8rem;
    font-weight: lighter;
}
.search-product-text{
    width: fit-content;
    padding-right: 10rem;
}
.filter-select-input{
    display: inline-block;
    width: fit-content;
    max-width: 100%;
    padding-right: 5rem;
}
.products-not-found-row{
    justify-content: center;
    display: none;
}
.products-not-found-row .col-auto{
    text-align: center;
}
.products-not-found-row .col-auto img{
    height: 15rem;
    width: 15rem;
}
.products-not-found-row .col-auto h6{
    font-size: 1.5rem;
    padding-top: 1rem;
}